
<div class="contentpage m-l-65">
<div class="m-r-10">
  <!-- Breadcrumbs -->
  <div class="row m-x-0">
    <div class="col-xs-12 p-l-15 bg-ssblue">
      <div class="pull-left color-white">
        <h2 class="m-y-10">Studies</h2>
      </div>
      <ol class="breadcrumb bg-ssblue pull-left fw-15 m-b-0 m-t-10 p-l-15">
        <li><i class="color-white fa fa-th-list fa-fw"></i></li>
        <li><a class="color-white" routerLink="/studylist" href="javascript:void(0)">Study List</a></li>
        <li  *ngIf="viewerDetail?.studyNo " class="color-white">{{viewerDetail?.studyNo }} - {{viewerDetail?.date| date:'MMM d,y H:mm:ss'}}</li>
        <li  *ngIf="!viewerDetail?.studyNo" class="color-white">{{viewerDetail?.date| date:'MMM d,y H:mm:ss'}}</li>
      </ol>
    </div>
  </div>
  <!-- Breadcrumbs Ends -->

  <observations [qaUser]="qaUser" (isWorksheetOpen)='onNotify($event)' [patientDetails]="viewerDetail" [studyId]="studyId" [examType]="examType" [status]="status" [referringPhysicianId]="referringPhysicianId"  [assignedUser]="assignedUser" [attendingUser]="attendingUser" [loginUserId]="loginUserId" (onInprogress)='onWorsheetInprogress($event)' [workflowStatus]="workflowStatus" [attendingWorkflowStatus]="attendingWorkflowStatus" [submitOnSignFlag]="submitOnSignFlag" [qaAttendingWorkflowStatus]="qaAttendingWorkflowStatus"
   
  ></observations>

  <!--Image Viewer-->
  <div class="row m-t-15 m-x-0">
    <div class="col-xs-12 p-x-0">
      <div class="col-xs-12 col-sm-{{isWorksheetOpen?12:8}}">
        <div class="wrksheetMovableContainer">
          <viewerheader [isWorksheetOpen]="isWorksheetOpen"></viewerheader>
          <patient-image [studyObjectId]="studyUid" [sopInstanceId]="objectId" [wadoLoader]="dicomProtocol"></patient-image>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 p-l-0 {{isWorksheetOpen?'hide':'show'}}">
        <div class=" b-1-lightgray m-lmob-10">
          <imageviewer-details [patientDetails]="viewerDetail"></imageviewer-details>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="wrksheetMovableContainer">
    <imageViewer-thumbnail></imageViewer-thumbnail>
  </div>-->
</div>
</div>
