<div id="{{id}}" class="wrkshtpanelhead panel-heading clearfix">
  <h4 class="m-y-0 pull-left">Tags</h4>
  <span class="pull-right"><span><i class="fa fa-chevron-down"></i></span></span>
</div>
<div id="panel-{{id}}" class="wrkshtpanelbody panel-body fw-15">
  <div class="row m-y-10">
    <div class="col-md-12 lh-26">
      <div class="col-md-3 p-x-0"><label>Tags</label></div>
      <div class="col-md-9 p-x-0">
       <input id="inputTags"  type="text" name="inputTags" [value]="tagList"  class="tags-width pull-left" [disabled]="!disableTags" />
               <i class="fa fa-plus-circle color-primary m-t-5 fa-close savetags" aria-hidden="true"  (click)="saveInputTags()"></i>
      </div>
    </div>
  </div>
 <div class="col-md-12 " *ngIf="errortags==1">
    	<span class="text-danger pull-right">Please Add the Tags</span>
    </div>
</div>
<hr class="m-y-0">
