<div class=" bg-white">
  <div class="row clearfix m-x-0 p-10">
    <div class="row m-x-0">
      <h3 class="m-t-0">Patient Details</h3>
    </div>
    <div class="row m-x-0">
      <div class="col-xs-12 col-md-9 p-x-0">
        <div class="tab-viewer col-xs-12 col-md-7 p-x-0">
          <div class="row m-x-0">
            <div class="col-xs-4 p-x-0">
              <label>Patient: </label>
            </div>
            <div class="col-xs-8 p-x-0">
              <span>
                {{patientDetails?.patient?.firstName}}
                {{patientDetails?.patient?.middleName}}
                {{patientDetails?.patient?.lastName}}
              </span>
            </div>
          </div>
          <div class="row m-x-0">
            <div class="col-xs-4 p-x-0">
              <label>Patient ID: </label>
            </div>
            <div class="col-xs-8 p-x-0">
              <span>{{patientDetails?.patient?.id}}</span>
            </div>
          </div>
        </div>
        <div class="tab-viewer col-xs-12 col-md-3 p-x-0">
          <div class="row m-x-0">
            <span class="label bg-ssblue b-1-ssblue">{{patientDetails?.patient?.gender}}</span>
          </div>
          <div class="row m-x-0 m-t-5">
            <span class="label bg-gray b-1-gray">{{patientDetails?.patient?.ethnicOrigin}}</span>
          </div>
          <div class="row m-x-0 m-t-5">
            <span class="label bg-warning b-1-warning">{{patientDetails?.patient?.dob}}</span>
          </div>
        </div>
        <div class="tab-viewer col-xs-12 col-md-2 p-x-0">
          <div class="row m-x-0" *ngIf="patientDetails?.height">
            <span class="label bg-ssblue b-1-ssblue">{{patientDetails?.height}}cm</span>
          </div>
          <div class="row m-x-0 m-t-5" *ngIf="patientDetails?.weight">
            <span class="label bg-gray b-1-gray">{{patientDetails?.weight}}lbs</span>
          </div>
          <div class="row m-x-0 m-t-5">
            <span class="label bg-warning b-1-warning">{{patientDetails?.age}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-y-0">
  <div class="row m-x-0 p-10">
    <div class="row m-x-0">
      <div class="row m-x-0 b-b-1-lightgray">
        <h4 class="m-t-0">Patient Data</h4>
      </div>
    </div>
    <div class="row m-x-0 m-t-10">
      <div class="row m-x-0 bg-darkgray align-center color-white fw-18 p-5">
        <span>MR Number: <span>{{patientDetails?.patient?.mrnno}}</span></span>
      </div>
    </div>
  </div>
</div>
