.newuser-avatar img{
    border-radius: 50%;
    width:60px;
    height:70px;
    margin-left:10px;
}
#phoneCountryCode, #phoneStateCode{
  width:50px;
}
#phone{
  width:81px;
}
#spanHifen{
  line-height: 30px;
}
.alertRequired{
padding: 3px;
}    