/.gradle
/eureka/build
/common/.settings
/common/.classpath
/common/.project
.classpath
.project
.settings
build
/auth/bin/application.properties
/auth/bin/com/fujifilm/datax/AuthApplication.class
/auth/bin/com/fujifilm/datax/AuthApplicationTests.class
/util/.gradle/2.3/taskArtifacts
/studylist/data/StudyList.mv.db
/studylist/data/StudyList.trace.db
/studylist/logs/common.log
/studylist/data/*.db
/studylist/logs/*.log
/bin/
