<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>

<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1"></meta>

<link rel="stylesheet"
	href="/assets/stylesheets/bootstrap-3.3.7.min.css"></link>
<link rel="stylesheet"
	href="/assets/stylesheets/font-awesome-4.6.3.min.css"></link>
<link rel="stylesheet" href="/assets/stylesheets/login.css"></link>

<script src="/assets/vendor/js/jquery-3.1.1.min.js"></script>
<script src="/assets/vendor/js/bootstrap-3.3.7-min.js"></script>
<script src="/assets/vendor/js/app/loginValidation.js"></script>
<script src="/assets/vendor/js/jquery.cookie.js"></script>

<title>LogIn</title>
</head>
<body onload="passwordPolicyOnload()">
	<div class="wrapper">
		<img src="/assets/images/background_login.png" id="bgVideo"></img>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default b-1-lightergray m-t-70">
						<div class="panel-heading align-center">
							<a href="#"> <img src="/assets/images/blue_logo.png"
								alt="Logo" class="m-t-3 m-b-10 h-20"></img></a>
							<h1 class="m-a-0 color-dataX">
								<strong>Data X</strong>
							</h1>
						</div>
						<div class="panel-body">
							<h2 class="align-center m-a-0 fw-300 m-b-10 color-dark-gray">Change
								Password</h2>
							<form class="m-t-3">
								<p class="hide" id="warning"></p>
								<div id="snackbar">Password changed successfully. Kindly
									re-login for security reasons</div>
								<div class="form-group">
									<input type="password" id="currentPassword"
										class="form-control" placeholder="Enter Current Password..."
										maxlength="50" onfocusout='checkCurrentPassword()'
										onfocus='hideError();hidePwdMatchError();validateReentredPassword();'></input>
								</div>
								<div class="form-group">
									<input type="password" id="newPassword" class="form-control"
										placeholder="Enter New Password..." maxlength="50"
										onkeyup='passwordStrengthChecker()'
										onfocusout='validateNewPassword()'
										onfocus='hideError();checkCurrentPassword();'></input>
								</div>
								<div class="form-group">
									<span id="passwordStrengthResult"></span>
								</div>
								<div class="form-group">
									<input type="password" id="confirmPassword"
										class="form-control" placeholder="Reenter Password..."
										maxlength="50"
										onfocus='checkCurrentPassword();hidePwdMatchError();'
										onfocusout='hideError();validateReentredPassword()'></input>
								</div>
								<div class="form-group">
									<i class="fa fa-check-circle-o color-green fw-15 hide"
										id="passwordMatch" aria-hidden="true"> Passwords match</i> <i
										class="fa fa-times-circle-o color-red fw-15 hide"
										id="passwordNotMatch" aria-hidden="true"> Passwords do not
										match</i>
								</div>
								<div class="form-group row clearfix">
									<div class="col-sm-6 col-md-6">
										<a href="/#/dashboard">
											<button type="button" class="btn btn-block btn-secondary">Cancel</button>
										</a>
									</div>
									<div class="col-sm-6 col-md-6">
										<button type="button" id="changePasswordBtn"
											class="btn btn-primary btnLogin btn-block  "
											disabled="!passwordValidateStatus" onClick='changePassword()'>
											Change Password</button>
									</div>
								</div>
							</form>
							<div id="passwordConfigPolicy" class="p-t-1">
								<span class="fw-14 ">Password must meet the following
									requirements:</span>
								<ul class="m-l-2 p-t-1 fw-12">
									<li>Must be minimum <span id="pwdmin" /> characters in length</li>
									<li>Must contain at least 1 character from the following categories:<span id="splChar" /></li>
<!-- 									<li><span id="pwdReuseRestriction" /> Must not be any of your previous password(s)</li> -->
									<li>Must not be any of your previous <span id="pwdReuseRestriction" /> password(s)</li>
								</ul>
							</div>
						</div>
					</div>
					<p class="color-dark-gray align-center fw-18">
						<strong>Sonosite DataX</strong>
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>