<!DOCTYPE html>
<html lang="en">
 <!-- START Head https://piktochart.com/-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"></meta>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap-3.3.7.min.css"></link>
    <link rel="stylesheet" href="/assets/stylesheets/font-awesome-4.6.3.min.css"></link>
    <link rel="stylesheet" href="/assets/stylesheets/login.css"></link>
    
    <!-- Script -->
    
 	<script   src="/assets/vendor/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/vendor/js/bootstrap-3.3.7-min.js"></script>
    <script src="/assets/vendor/js/jquery.capslockstate.js"></script>
      <script src="/assets/vendor/js/app/forgotPassword.js"></script>
    <title>
         LogIn
    </title>
</head>

<body>    
    <div class="wrapper">  
    <img src="/assets/images/background_login.png" id="bgVideo"></img>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default b-1-lightergray m-t-70">
            <div class="panel-heading align-center">
                <a href="#"> <img src="/assets/images/blue_logo.png" alt="Logo" class="m-t-3 m-b-10 h-20"></img></a>
                <h1 class="m-a-0 color-dataX"><strong>Data X</strong></h1>
            </div>
            <div class="panel-body">
                <h2 class="align-center m-a-0 fw-300 m-b-10 color-dark-gray"> Forgot Password</h2>
                <p class="align-center m-b-3 color-dark-gray">We can help reset your password using a username or email address associated with your account.</p>
                <form class="m-t-3">
                 <p class="hide" id="errorDiv"></p>
                    <div class="form-group">
                        <input id="txtUserName" class="form-control" placeholder="Enter a Username..."></input>
                    </div>
                    <a href="#" role="button" id="btnResetPassword" class="btn btn-block btn-primary btnLogin">Reset Password</a>
                </form>
            </div>
            <div class="panel-footer">
                <a href="login.html" id="ancLogin color-dark-gray">Login</a>
            </div>
    </div>
            <p class="color-dark-gray align-center fw-18"><strong>Sonosite DataX</strong></p>
    </div>
    </div>
    </div>
    </div>   
 
</body>
</html>