<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Fuji DataX</title>

<meta name="description" content="Fuji DataX"></meta>
<!-- base url -->
<base href="/"></base>
<link rel="stylesheet" href="assets/css/inputTag.css"></link>

<script th:inline="javascript">
  		window.bearer = [[${token}]];
  	</script>
<script type="text/javascript" src="polyfills.dll.js"></script>
<script type="text/javascript" src="vendor.dll.js"></script>
<script type="text/javascript" src="polyfills.bundle.js"></script>
<script type="text/javascript" src="vendor.bundle.js"></script>
<script type="text/javascript" src="main.bundle.js"></script>

</head>
<body>

	<app> Loading... </app>



	<script>
    //Authorization token
    
     //window.bearer = $('#token').val();
    
    // Set Locale
    //document.locale = 'fr';

    // Google Analytics: change UA-71073175-1 to be your site's ID
    /*  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
    r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71073175-1', 'auto');
      ga('send', 'pageview');*/
  </script>

	<script src='assets/js/jquery.min.js'></script>
	<script src="assets/js/inputTag.js"></script>
	<script> var $j = $.noConflict(true); </script>

	<script type="text/javascript"
		src="assets/cornerstonelib/cornerstone.js"></script>


	<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneWADOImageLoader.js"></script>

	<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneWebImageLoader.js"></script>

	<script type="text/javascript"
		src="assets/cornerstonejs/displayThumbnail.js"></script>
	<script type="text/javascript"
		src="assets/cornerstonejs/imageViewer.js"></script>
	<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneFileImageLoader.js"></script>
		
		
		<script type="text/javascript"
		src="assets/cornerstonelib/dicomParser.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonejs/setupButtons.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneMath.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneTools.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonelib/hammer.min.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneFileImageLoader.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonelib/cornerstoneFileImageLoader.js"></script>
		<script type="text/javascript"
		src="assets/cornerstonejs/forEachViewport.js"></script>

</body>
</html>
