<div class="contentpage m-l-65">
	<div class="">
		<!-- Breadcrumbs -->
		<div class="row m-x-0 bg-ssblue">
			<div class="col-xs-12 col-sm-6 p-l-15">
				<div class="pull-left color-white">
					<h2 class="m-y-10">Adminstrator</h2>
				</div>
				<ol class="breadcrumb bg-ssblue pull-left fw-15 m-b-0 m-t-10 p-l-15">
					<li><a href="#" class="color-white"><i
							class="fa fa-lg fa-cog"></i></a></li>
					<li class="color-white">System Configuration</li>
					<li class="color-white">Login Security Policy</li>
				</ol>
			</div>
		</div>
		<!-- Breadcrumbs Ends -->

		<!--Password Configuration-->

		<div class="row m-t-15 m-x-0">
			<div class="col-xs-12">
				<form #pwdConfigForm="ngForm" novalidate>
					<div class="col-md-offset-2 col-md-8 b-1-lightgray bg-white">
						<div class="row m-x-0">
							<div class="col-xs-12">
								<h3>Login Security Policy Configuration</h3>
							</div>
						</div>
						<div class="row m-x-0 m-t-5">
							<div
								class="col-sm-offset-2 col-md-offset-2 col-xs-12 col-sm-8 p-10"></div>
						</div>
						<div class="row m-x-0 m-t-5">
							<div class="col-xs-12 col-sm-10 p-10">
								<div class="col-xs-12 p-x-0">
									<div class="col-xs-12 form-group">
										<div class="col-xs-12">
											<label>Password Complexity(Minimum 3 Required)</label>
										</div>
										<div class="col-xs-offset-1">
											<div class="col-xs-12">
												<label class="checkbox"> <input id="isUppercase"
													type="checkbox" value="1"
													[(ngModel)]="pwdConfig.isUppercase" name="isUppercase"
													#isUppercase="ngModel">Upper Case Characters (A to
													Z)
												</label>
											</div>
											<div class="col-xs-12">
												<label class="checkbox"> <input id="isLowercase"
													type="checkbox" value="1"
													[(ngModel)]="pwdConfig.isLowercase" name="isLowercase"
													#isLowercase="ngModel"> Lower Case Characters (a to
													z)
												</label>
											</div>
											<div class="col-xs-12">
												<label class="checkbox"> <input id="isNumber"
													type="checkbox" value="1" [(ngModel)]="pwdConfig.isNumber"
													name="isNumber" #isNumber="ngModel"> Numbers (0 to
													9)
												</label>
											</div>
											<div class="col-xs-12">
												<label class="checkbox"> <input id="isSplChar"
													type="checkbox" value="1" [(ngModel)]="pwdConfig.isSplChar"
													name="isSplChar" #isSplChar="ngModel"> Special
													Characters (`~!@#$%^&*-+=.,:;?)
												</label>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 p-x-0">
									<div class="col-xs-12 form-group">
										<div class="col-xs-8 col-md-8">
											<label>Password Minimum Length<span class="color-red">*</span></label>
										</div>
										<div class="col-xs-2 col-md-2 p-x-0">
											<input type="text" class="form-control" class="form-control"
												id="pwdminlen" required [(ngModel)]="pwdConfig.pwdminlen"
												name="pwdminlen" #pwdminlen="ngModel" maxlength="2"
												onpaste="return false"
												(blur)="dispwdminlen(pwdminlen.value)"
												(focus)="dispwdminlen('hide')"
												(keypress)="validateNum($event);">
										</div>
									</div>
									<div class="col-xs-12">
										<div [hidden]="!errpwdminlen"
											class="col-xs-offset-8 col-xs-4 alert alert-danger p-5">
											Password length should be in the range of 8 - 64</div>
									</div>
								</div>
								<div class="col-xs-12 p-x-0">
									<div class="col-xs-12 form-group">
										<div class="col-xs-8 col-md-8">
											<label>User defined password expires in (days)</label>
										</div>
										<div class="col-xs-2 col-md-2 p-x-0">
											<input type="text" class="form-control" class="form-control"
												id="userdfndpwdexp" [(ngModel)]="pwdConfig.userdfndpwdexp"
												name="userdfndpwdexp" #userdfndpwdexp="ngModel"
												maxlength="3" onpaste="return false"
												(blur)="diserruserdndpwd(userdfndpwdexp.value)"
												(focus)="diserruserdndpwd('hide')"
												(keypress)="validateNum($event);">
											<div [hidden]="!erruserdndpwd" class="alert alert-danger">
												Invalid entry</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 p-x-0">
									<div class="col-xs-12 form-group">
										<div class="col-xs-8 col-md-8">
											<label>History of password reuse restriction count<span
												class="color-red">*</span></label>
										</div>
										<div class="col-xs-2 col-md-2 p-x-0">
											<input type="text" class="form-control" class="form-control"
												id="pwdReuseRestriction" maxlength="2" required
												[(ngModel)]="pwdConfig.pwdReuseRestriction"
												name="pwdReuseRestriction" #pwdReuseRestriction="ngModel"
												onpaste="return false"
												(blur)="diserrpwdreuse(pwdReuseRestriction.value)"
												(focus)="diserrpwdreuse('hide')"
												(keypress)="validateNum($event);">
											<div [hidden]="!errpwdreuse" class="alert alert-danger">
												please provide value from 1 to 10</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12 p-x-0">
									<div class="col-xs-12 form-group">
										<div class="col-xs-8 col-md-8">
											<label>Account Lock-Out threshold (unsuccessful
												attempts)</label>
										</div>
										<div class="col-xs-2 col-md-2 p-x-0">
											<input type="text" class="form-control" class="form-control"
												id="accntlockmax" [(ngModel)]="pwdConfig.accntlockmax"
												name="accntlockmax" #accntlockmax="ngModel" maxlength="3"
												onpaste="return false"
												(blur)="diserrlockmax(accntlockmax.value)"
												(focus)="diserrlockmax('hide')"
												(keypress)="validateNum($event);">
											<div [hidden]="!errlockmax" class="alert alert-danger">
												Invalid entry</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div [hidden]="!checkminthree"
										class="col-xs-offset-2 col-xs-6 alert alert-danger p-5">
										Please select Minimum 3 Complexity Constraints</div>
								</div>
								<div class="col-xs-12 m-b-10 p-x-0">
									<div class="col-xs-offset-4 col-md-offset-5">
										<button class="btn btn-primary" (click)="resetDefault()">Reset
											To Default</button>
										<button class="btn btn-primary" (click)="resetForm()"
											[disabled]="orgLoginPolicyId?false:true">Reset</button>
										<button type="submit" class="btn btn-primary"
											[disabled]="!pwdConfigForm.form.valid||erruserdndpwd||errsyspwd||errpwdreuse || errtmplock || errlockmax||errpwdminlen||erruserdndpwd"
											(click)="savePolicy(pwdConfigForm.value,pwdConfigForm.valid)">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
