<div class="col-xs-12 col-sm-12 col-md-8 p-resize p-l-0">
<div class="panel panel-default">
  <!-- Heading Starts-->
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 align-center fw-18"><span>Exam Studies Overview</span></div>
    </div>
  </div>
  <!-- Heading Ends -->
  <!-- Content Starts -->
  <div class="panel-body">
    <div class="legends row m-x-0 align-center">
      <div class="col-md-offset-2">
        <div class="col-md-2 p-x-0" *ngFor="let series of datasets">
          <div class="col-md-12 p-x-0">
            <span><i class="fa fa-fw fa-circle color-{{series.label | lowercase}}"></i></span>
            <span>{{series.label}}</span>
          </div>
        </div>
      </div>
    </div>
    <canvas baseChart id="barChart" class="barChart"
    [datasets]="datasets"
    [labels]="labels"
    [colors]="colors"
    [chartType]="'bar'"
    [options]="options"
    [legend]="false"
    (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
</div>
