<div class="row clearfix bg-ssblue m-x-0">
<div class="col-xs-12 pull-left p-x-0">
  <div class="col-xs-12 pull-left p-x-0">
    <tabs>
      <tab tabIcon="fa fa-address-card-o fw-15">
        <!--  patient-details  -->
        <patient-details [patientDetails]="patientDetails"></patient-details>
      </tab>
    <tab tabIcon="fa fa-newspaper-o fw-15">
      <!--  Study-Details -->
      <study-details [patientDetails]="patientDetails"></study-details>
    </tab>
    </tabs>
  </div>
</div>
</div>
